In [4]:
%%html
<script src="js/showNotes.js"></script>

<p style="font-size:9px;">Version: Discussion version 1, 
    July 18, 2023 | <b>updated Nov 11, 2023</b> [&copy; 2023 gb]</p>
<img src="images/ischool-banner.png" />
<p>&nbsp;</p>
<div style="height: 80px;color:#3B7EA1; font-size:24px; vertical-align:top; text-align:left;">
    Computing for Data Science
    <img style="width:20%; vertical-align:top; float: left; padding-right: 20px; display: block; margin-left: 0; margin-right: auto;" 
         src="images/ucb_logo.png"/>
</div>

<hr />
<h1 style="font-size:36; color: #003262;">Current (F23) Weekly Syllabus Topics</h1>
<table width="100%">
    <tr>
<td style="text-align:left; vertical-align:top;">
<ol start="10">
<li>
    <ul>
        <li>Pandas &amp; Data Analysis</li>
        <li>Series and Data Frames</li>
        <li>Bracket index, log &amp; iloc</li>
        <li>Functions and DataFrames</li>
        <li>Sorting</li>
    </ul>
</li>
    <li><b>Exploratory Data Analysis Intro</b> See also the teaching notes.  
    <ul>
        <li>Datasets and EDA</li>
        <li>Fixing Data Issues (Cleansing)</li>
        <li>Answering Questions</li>
    </ul>
</li>
<li>
    <ul>
        <li>Plotting &amp; Visualization</li>
        <li>Libraries (Matplotlib, Seaborn, etc.)</li>
        <li>Plot features</li>
    </ul>
</li>
</ol>
</td>
<td style="text-align:left; vertical-align:top;">
<ol start="13">
    <li>
    <ul>
        <li>Pandas Aggregation &amp; Group Operations</li>
        <li>Series.groupby</li>
        <li>DataFrame.groupby</li>
        <li>Aggregation</li>
        <li>Pivot Tables &amp; Crosstabs</li>
    </ul>
</li>
<li>
    <ul>
        <li>Presentations (so no time to cover...
        <li>Texts, unicode, decoding errors, regex, time series, etc.)</li>
    </ul>
</li>
</ol>
</td>
        <td><img style="width:200px;" src="images/pirate-paul.jpg"></td>
</tr>
</table>
<h2 style="color:#C4820E;">Three Notebooks: this main one and two optional (but cool) ones.</h2>
    <ol>
    <li><a href="w11_encoding.ipynb" target="new">
            Encoding &amp; Display of Data Glyphs</a>
    </li>
    <li><a href="w11_examples.ipynb" target="new">
        Real-World Examples: MySQL &amp; Python, Encoding Issues, Vector Model and 3D Plot; Vector Model &amp; NLTK + plots; Bit Signature</a></li>
    </ol>

<hr />
<h2 style="background-color: #003262; color:white; border-radius: 4px; padding: 8px;">1.  Exploratory Data Analysis</h2>
<h2>Contents:</h2>
<ol>
    <li>What is EDA?</li>
    <li>Translating the ideas into code</li>
    <li>Pandas - 2 Examples for EDA</li>
<li>Data and Encoding Points (Unicode, UTF, binary) as part of EDA</li>
<li>Optional: Student Questions about SQL and about data encoding.
<li>Optional Advanced Demos: 
General Vector Model in Info Retrieval, Language Corpora &amp; the NLT, Bit Signatures on-the-job</li>
</ol>

<p style="border-radius:3px;background-color:steelblue;padding:5px;color:white;">The main purpose of EDA is to ... </p>
<ol>
    <li>get to know our data before making assumptions,</li>
    <li>before finalizing a qualified researchable question, </li>
    <li>identify &ldquo;errors&rdquo; in the data themselves</li>
    <li>appropriateness or applicability of the data to the questions</li>
    <li>range and domain of the data</li>
    <li>and ultimately allow us to extract groups for statistical testing to identify &ldquo;interesting events&rdquo;</li>
    <li>potentially interesting data sub-sets are subjected to further statistical tests and </li>
    <li>use plots to explore the data as well as later present, describe, explain, and explore questions in a visual language</li>
    <li>interpreted by the data scientist and a domain expert</li>
    <li>for insights into the data - new knowledge - with the correct statistical and domain background to warrant our interpretations.</li>
</ol>

<hr />
<p style="border-radius:3px;background-color:steelblue;padding:5px;color:white;">Optional Brief In Class Discussion/Contextualization</p> <p>Take a moment to see some industry sights since these drive industry definitions, client expectations, and impact our work.  Check out these websites and discuss briefly the idea of EDA among colleagues and your clients.
</p>    
<p>
<ul>
    <li>
        <a href="https://www.ibm.com/cloud/learn/exploratory-data-analysis#toc-why-is-exp-fLvQvfjK" target="new">IBM&rsquo;s EDA</a>.  Notice the conclusion is that numbers + visuals go together, that we use Python to screen data, identify outliers, check assumptions, and characterize differences among groups of cases.  The Pandas library helps us extract groups of cases to explore ... 
    </li>
    <li>
        <a href="https://www.epa.gov/caddis-vol4/exploratory-data-analysis" target="new">US EPA</a></li>
    <li>As we&rsquo;d expect, 
        <a href="https://www.itl.nist.gov/div898/handbook/toolaids/pff/eda.pdf" target="new">National standards institute</a> lists its points - with case studies [despite the site&rsquo;s woeful aesthetics (grin)]</li>
    </ul>
</p>
<table>
    <tr>
        <td>
            <img src="images/ibm.png">
        </td>
        <td>
            <img src="images/epa.png">
        </td>
    </tr>
</table>

<hr />
<h2 style="background-color: #003262; color:white; border-radius: 4px; padding: 8px;">2.  Translating the ideas into code:</h2>
<p>As you know from the asynch with Pirate Paul, we use a combination of code libraries to prepare our data for EDA - in a phrase translating the theory and idea of EDA into code.  Review the main tools:
    <ul>
        <li>Python</li>
        <li>Data and Analysis helper tools: numpy and pandas</li>
        <li>Plotting tools: matplotlib, sciplot, others; next week) [recall the hierarchy of modules from week 9]</li>
        <li>Cleaning our data for various issues [NaN, NULL, character sets, 0s, metadata, mismatches between datasets when integrating them</li>
        <li>Sub-set extraction - finding &ldquo;interesting&rdquo; events (a collision of variables where a statistical test has found some value and suggests further investigation, from data mining)</li>
        <li>Deleting some columns</li>
        <li>Creating new columns</li>
        <li>Basic stats - descriptive at least</li>
        <li>Domain and range checking</li>
        <li>Outliers</li>
        <li>Aggregating and Grouping data for testing during exploration and post-hoc test during analysis</li>
        <li>Issues with data integration [encoding, etc.] <b style="color:maroon;">Main Points about data sources and encoding in part 2 below</b></li>
        <li>other?</li>
        </ul>
</p>

<p><u>This week</u> we want to work through a large dataset from the Web and consider some python + pandas prep of our datasets before analysis.</p>
<p><u>Next week</u> we focus on the rudiments of visualization/plotting of data.</p>
<p>Following that all the pieces come together in pandas data aggregation, groupby and more.</p>

<hr />
<h2 style="background-color: #003262; color:white; border-radius: 4px; padding: 8px;">2a.  Discussion &amp; Demo using Pandas notebook bridging last week to prepare us  for project and on-the-job.</h2>
<p>Example 1: an integrated bibliographic dataset<br />
Example 2: airline data</p>
<hr />
<p style="border-radius:3px;background-color:steelblue;padding:5px;color:white;">Example 1</p>
    <p>
    This section has two demos using publicly-accessible datasets in .csv.  Remember: there is a set of data cleaning activities to prepare the data for exploration and analysis ... and pandas/python provides a dozen ways to accomplish the same output - at this point how you proceed is up to your own style and trial-and-error using data that are meaningful to you.</p>
<p>
The first set is an example of data that have been merged from different datasets (bibliogrphy + metadata) used in Project Gutenberg.  The 2nd set is of airport data from 2003-2016 (good for longitudinal studies).  Today we look only at the first steps of EDA.  Shortly we&rsquo;ll look at panda&rsquo;s useful groupby and aggregate methods.</p>    
<ul>
    <li>Getting a large dataset from the net</li>
    <li>Checking the file (head, tail, describe</li>
    <li>First pass as cleaning the data - NaN, None, dropping columns, etc.</li>
    <li>Dates</li>
    <li>Visualizing some</li>
</ul>

In [1]:
# NOTE: typically import libraries for data
import numpy as np
import pandas as pd

# and libraries for visualizing/plotting the data
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# load the dataset
# remember, hard-coding addresses isn't recommended in practice.
# It's done here 'cause this beta OS won't find the file otherwise (or operator error!)
#books = pd.read_csv("data/classics.csv")
books = pd.read_csv("data/classics.csv")

books.head()

,bibliography.congress classifications,bibliography.languages,bibliography.subjects,bibliography.title,bibliography.type,metadata.downloads,metadata.id,metadata.rank,metadata.url,bibliography.author.birth,...,metrics.sentiments.polarity,metrics.sentiments.subjectivity,metrics.statistics.average letter per word,metrics.statistics.average sentence length,metrics.statistics.average sentence per word,metrics.statistics.characters,metrics.statistics.polysyllables,metrics.statistics.sentences,metrics.statistics.syllables,metrics.statistics.words
0,PR,en,"Sisters -- Fiction,Courtship -- Fiction,Social...",Pride and Prejudice,Text,36576,1342,1,https://www.gutenberg.org/ebooks/1342,1775,...,0.136713,0.522239,4.83,18.0,0.05,586794,4603,6511,170648.1,121533
1,PS,en,"Mentally ill women -- Fiction,Feminist fiction...",The Yellow Wallpaper,Text,26363,1952,2,https://www.gutenberg.org/ebooks/1952,1860,...,0.054174,0.534787,4.41,15.0,0.06,26769,102,385,7686.9,6067
2,"PZ,PR",en,Fantasy,Alice's Adventures in Wonderland,Text,18882,11,3,https://www.gutenberg.org/ebooks/11,1832,...,0.041079,0.497276,4.65,17.0,0.06,122719,339,1501,33810.3,26389
3,PR,en,Monsters -- Fiction;Frankenstein's monster (Fi...,"Frankenstein; Or, The Modern Prometheus",Text,17128,84,4,https://www.gutenberg.org/ebooks/84,1797,...,0.100902,0.539516,4.77,23.0,0.04,357604,2604,3239,106802.1,74959
4,PT,en,"Psychological fiction,Metamorphosis -- Fiction",Metamorphosis,Text,15683,5200,5,https://www.gutenberg.org/ebooks/5200,1883,...,0.041997,0.479019,4.56,27.0,0.04,100372,397,800,28752.3,22022

In [2]:
books.tail()

,bibliography.congress classifications,bibliography.languages,bibliography.subjects,bibliography.title,bibliography.type,metadata.downloads,metadata.id,metadata.rank,metadata.url,bibliography.author.birth,...,metrics.sentiments.polarity,metrics.sentiments.subjectivity,metrics.statistics.average letter per word,metrics.statistics.average sentence length,metrics.statistics.average sentence per word,metrics.statistics.characters,metrics.statistics.polysyllables,metrics.statistics.sentences,metrics.statistics.syllables,metrics.statistics.words
1001,NaN,en,NaN,The Reluctant Heroes,Text,0,51483,1002,https://www.gutenberg.org/ebooks/51483,1926,...,0.076203,0.451757,4.68,11.0,0.09,32354,112,618,8824.5,6913
1002,NaN,en,NaN,"Film Truth; September, 1920",Text,0,51484,1003,https://www.gutenberg.org/ebooks/51484,0,...,0.143879,0.485782,5.02,17.0,0.06,45970,312,536,13080.6,9153
1003,NaN,en,NaN,Othmar,Text,0,51487,1004,https://www.gutenberg.org/ebooks/51487,1839,...,0.099478,0.548289,4.66,21.0,0.05,890918,4808,8921,258091.2,191182
1004,NaN,en,NaN,Church History (Volumes 1-3),Text,0,51491,1005,https://www.gutenberg.org/ebooks/51491,1809,...,0.112242,0.440014,5.31,17.0,0.06,3883244,46730,41950,1083170.7,730715
1005,NaN,en,NaN,The Uncensored Letters of a Canteen Girl,Text,0,51495,1006,https://www.gutenberg.org/ebooks/51495,0,...,0.059623,0.435443,4.73,17.0,0.06,451687,2595,5580,130093.2,95496

In [3]:
print(books.shape)
print(books.info())
print(books.columns)  # compare outputs.
print(books.count())

(1006, 38)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006 entries, 0 to 1005
Data columns (total 38 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   bibliography.congress classifications            847 non-null    object
 1   bibliography.languages                           1006 non-null   object
 2   bibliography.subjects                            851 non-null    object
 3   bibliography.title                               1006 non-null   object
 4   bibliography.type                                1006 non-null   object
 5   metadata.downloads                               1006 non-null   int64
 6   metadata.id                                      1006 non-null   int64
 7   metadata.rank                                    1006 non-null   int64
 8   metadata.url                                     1006 non-null   object
 9   bibliography.author.birth                        1006 non-null   int64
 10  bibliography.author.death                        1006 non-null   int64
 11  bibliography.author.name                         1006 non-null   object
 12  bibliography.publication.day                     1006 non-null   int64
 13  bibliography.publication.full                    1006 non-null   object
 14  bibliography.publication.month                   1006 non-null   int64
 15  bibliography.publication.month name              1006 non-null   object
 16  bibliography.publication.year                    1006 non-null   int64
 17  metadata.formats.total                           1006 non-null   int64
 18  metadata.formats.types                           1006 non-null   object
 19  metrics.difficulty.automated readability index   1006 non-null   float64
 20  metrics.difficulty.coleman liau index            1006 non-null   float64
 21  metrics.difficulty.dale chall readability score  1006 non-null   float64
 22  metrics.difficulty.difficult words               1006 non-null   int64
 23  metrics.difficulty.flesch kincaid grade          1006 non-null   float64
 24  metrics.difficulty.flesch reading ease           1006 non-null   float64
 25  metrics.difficulty.gunning fog                   1006 non-null   float64
 26  metrics.difficulty.linsear write formula         1006 non-null   float64
 27  metrics.difficulty.smog index                    1006 non-null   float64
 28  metrics.sentiments.polarity                      1006 non-null   float64
 29  metrics.sentiments.subjectivity                  1006 non-null   float64
 30  metrics.statistics.average letter per word       1006 non-null   float64
 31  metrics.statistics.average sentence length       1006 non-null   float64
 32  metrics.statistics.average sentence per word     1006 non-null   float64
 33  metrics.statistics.characters                    1006 non-null   int64
 34  metrics.statistics.polysyllables                 1006 non-null   int64
 35  metrics.statistics.sentences                     1006 non-null   int64
 36  metrics.statistics.syllables                     1006 non-null   float64
 37  metrics.statistics.words                         1006 non-null   int64
dtypes: float64(14), int64(14), object(10)
memory usage: 298.8+ KB
None
Index(['bibliography.congress classifications', 'bibliography.languages',
       'bibliography.subjects', 'bibliography.title', 'bibliography.type',
       'metadata.downloads', 'metadata.id', 'metadata.rank', 'metadata.url',
       'bibliography.author.birth', 'bibliography.author.death',
       'bibliography.author.name', 'bibliography.publication.day',
       'bibliography.publication.full', 'bibliography.publication.month',
       'bibliography.publication.month name', 'bibliography.publication.year',
       'metadata.formats.total', 'metadata.formats.types',
       'metrics.difficulty.automated readability index',
       'metrics.difficulty.coleman liau index',
       'metrics.difficulty.dale chall readability score',
       'metrics.difficulty.difficult words',
       'metrics.difficulty.flesch kincaid grade',
       'metrics.difficulty.flesch reading ease',
       'metrics.difficulty.gunning fog',
       'metrics.difficulty.linsear write formula',
       'metrics.difficulty.smog index', 'metrics.sentiments.polarity',
       'metrics.sentiments.subjectivity',
       'metrics.statistics.average letter per word',
       'metrics.statistics.average sentence length',
       'metrics.statistics.average sentence per word',
       'metrics.statistics.characters', 'metrics.statistics.polysyllables',
       'metrics.statistics.sentences', 'metrics.statistics.syllables',
       'metrics.statistics.words'],
      dtype='object')
bibliography.congress classifications               847
bibliography.languages                             1006
bibliography.subjects                               851
bibliography.title                                 1006
bibliography.type                                  1006
metadata.downloads                                 1006
metadata.id                                        1006
metadata.rank                                      1006
metadata.url                                       1006
bibliography.author.birth                          1006
bibliography.author.death                          1006
bibliography.author.name                           1006
bibliography.publication.day                       1006
bibliography.publication.full                      1006
bibliography.publication.month                     1006
bibliography.publication.month name                1006
bibliography.publication.year                      1006
metadata.formats.total                             1006
metadata.formats.types                             1006
metrics.difficulty.automated readability index     1006
metrics.difficulty.coleman liau index              1006
metrics.difficulty.dale chall readability score    1006
metrics.difficulty.difficult words                 1006
metrics.difficulty.flesch kincaid grade            1006
metrics.difficulty.flesch reading ease             1006
metrics.difficulty.gunning fog                     1006
metrics.difficulty.linsear write formula           1006
metrics.difficulty.smog index                      1006
metrics.sentiments.polarity                        1006
metrics.sentiments.subjectivity                    1006
metrics.statistics.average letter per word         1006
metrics.statistics.average sentence length         1006
metrics.statistics.average sentence per word       1006
metrics.statistics.characters                      1006
metrics.statistics.polysyllables                   1006
metrics.statistics.sentences                       1006
metrics.statistics.syllables                       1006
metrics.statistics.words                           1006
dtype: int64

<hr />
<p style="border-radius:3px;background-color:steelblue;padding:5px;color:white;">Having gotten to know the file of data, let&rsquo;s look at some facets of the data themselves.</p>
<p style="font-size:18px; font-family:Palatino, serif;">Note the language codes ('en', 'de', 'es', etc.)  Whenever possible use professional and industry standards in your data.  These codes refer to 
    <a href="https://www.iso.org/iso-639-language-codes.html" target="new">ISO639 Org homepage</a> and more info at <a href="https://iso639-3.sil.org/code_tables/639/data" target="new">SIL</a>.  This standard is extremely common and often required in networked data and systems.</p>

In [4]:
print(books['bibliography.languages'].value_counts())
print(books['metrics.statistics.words'].value_counts())
print(books['metrics.statistics.words'].mode())
print(books['metrics.statistics.words'].value_counts().idxmax())

en        965
de         18
fr          7
tl          4
es          3
la          2
pt          1
enm         1
en,enm      1
en,es       1
nl          1
ru          1
it          1
Name: bibliography.languages, dtype: int64
117534    2
115638    2
121533    1
138014    1
54701     1
         ..
17718     1
26821     1
18301     1
48213     1
95496     1
Name: metrics.statistics.words, Length: 1004, dtype: int64
0    115638
1    117534
Name: metrics.statistics.words, dtype: int64
117534

In [5]:
books.describe()

,metadata.downloads,metadata.id,metadata.rank,bibliography.author.birth,bibliography.author.death,bibliography.publication.day,bibliography.publication.month,bibliography.publication.year,metadata.formats.total,metrics.difficulty.automated readability index,...,metrics.sentiments.polarity,metrics.sentiments.subjectivity,metrics.statistics.average letter per word,metrics.statistics.average sentence length,metrics.statistics.average sentence per word,metrics.statistics.characters,metrics.statistics.polysyllables,metrics.statistics.sentences,metrics.statistics.syllables,metrics.statistics.words
count,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,...,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1.006000e+03,1006.000000,1006.000000,1.006000e+03,1.006000e+03
mean,1431.373757,16512.391650,503.500000,1414.925447,1468.493042,10.481113,5.237575,1998.528827,7.380716,12.349602,...,0.100743,0.492111,4.911352,20.801193,0.054135,5.131198e+05,3641.756461,5422.240557,1.442273e+05,1.032993e+05
std,2361.420502,18336.804181,290.551487,773.309251,790.256414,9.668492,3.330280,53.117673,1.009007,5.560579,...,0.060870,0.052681,0.351216,10.740644,0.020521,1.073475e+06,11589.776231,17278.210403,2.832135e+05,1.948256e+05
min,0.000000,1.000000,1.000000,-750.000000,-650.000000,1.000000,1.000000,1422.000000,3.000000,4.900000,...,-0.256731,0.066667,4.170000,5.000000,0.000000,2.890000e+02,0.000000,6.000000,9.000000e-01,3.200000e+01
25%,533.000000,1262.000000,252.250000,1564.000000,1616.000000,1.000000,2.000000,2003.000000,7.000000,9.200000,...,0.070816,0.469743,4.710000,15.000000,0.040000,1.247205e+05,488.250000,1284.000000,3.396532e+04,2.551275e+04
50%,758.500000,8134.000000,503.500000,1821.000000,1885.000000,8.000000,4.000000,2006.000000,7.000000,11.400000,...,0.097218,0.494603,4.865000,19.000000,0.050000,3.146885e+05,1715.000000,3161.500000,8.950950e+04,6.502050e+04
75%,1308.000000,28978.000000,754.750000,1862.000000,1930.000000,18.000000,8.000000,2010.000000,8.000000,14.300000,...,0.127219,0.514309,5.030000,24.000000,0.060000,6.004268e+05,3915.250000,5822.750000,1.689797e+05,1.214575e+05
max,36576.000000,51495.000000,1006.000000,1941.000000,2014.000000,31.000000,12.000000,2016.000000,12.000000,125.100000,...,0.733333,1.000000,9.030000,235.000000,0.190000,2.502970e+07,250291.000000,443390.000000,6.532614e+06,4.462031e+06

<hr />
<p><b>Starting to clean the data and our research questions</b> - Nones and NaN and useless fields. Our data might not confirm to the needs of our research question nor to the requirements of a statistical test. When writing up research reports, be sure to identify the original state of the data and why you dropped or altered any data and confirm the reduced set is robust enough for statistical test(s) you choose.</p>
<p>A great example of data, the statistical tests, and how to report them in APA is in Hair, et al. <i>Multivariate analysis.</i></p>

In [6]:
print(books.isnull().sum()) # compare to using boolean values

bibliography.congress classifications              159
bibliography.languages                               0
bibliography.subjects                              155
bibliography.title                                   0
bibliography.type                                    0
metadata.downloads                                   0
metadata.id                                          0
metadata.rank                                        0
metadata.url                                         0
bibliography.author.birth                            0
bibliography.author.death                            0
bibliography.author.name                             0
bibliography.publication.day                         0
bibliography.publication.full                        0
bibliography.publication.month                       0
bibliography.publication.month name                  0
bibliography.publication.year                        0
metadata.formats.total                               0
metadata.formats.types                               0
metrics.difficulty.automated readability index       0
metrics.difficulty.coleman liau index                0
metrics.difficulty.dale chall readability score      0
metrics.difficulty.difficult words                   0
metrics.difficulty.flesch kincaid grade              0
metrics.difficulty.flesch reading ease               0
metrics.difficulty.gunning fog                       0
metrics.difficulty.linsear write formula             0
metrics.difficulty.smog index                        0
metrics.sentiments.polarity                          0
metrics.sentiments.subjectivity                      0
metrics.statistics.average letter per word           0
metrics.statistics.average sentence length           0
metrics.statistics.average sentence per word         0
metrics.statistics.characters                        0
metrics.statistics.polysyllables                     0
metrics.statistics.sentences                         0
metrics.statistics.syllables                         0
metrics.statistics.words                             0
dtype: int64

<hr />
<p style="border-radius:3px;background-color:steelblue;padding:5px;color:white;">Summary and notes</p>
<p> ... notice  that when working with data some features aren&rsquo;t within range or are missing too many values, or there are other reasons to exclude from the next step of exploration and analysis.</p>
<p>Notice in the below box the chaining of methods - you may need to force the order of operations with ( ) if you receive errors and weird results.<p>

In [7]:
books_final = books.isnull().sum().sort_values(ascending=False)
percent = (books.isnull().sum()/books.isnull().count()).sort_values(ascending=False)
books_missing = pd.concat([books_final,percent], axis=1, keys=['Total','Percent'])
books_missing.head(20)

# notice all the 0 values ... can these be used in your research?  Deleted?

                                                 Total   Percent
bibliography.congress classifications              159  0.158052
bibliography.subjects                              155  0.154076
metrics.sentiments.subjectivity                      0  0.000000
metrics.difficulty.difficult words                   0  0.000000
metrics.difficulty.flesch kincaid grade              0  0.000000
metrics.difficulty.flesch reading ease               0  0.000000
metrics.difficulty.gunning fog                       0  0.000000
metrics.difficulty.linsear write formula             0  0.000000
metrics.difficulty.smog index                        0  0.000000
metrics.sentiments.polarity                          0  0.000000
metrics.statistics.average letter per word           0  0.000000
metrics.difficulty.coleman liau index                0  0.000000
metrics.statistics.average sentence length           0  0.000000
metrics.statistics.average sentence per word         0  0.000000
metrics.statistics.characters                        0  0.000000
metrics.statistics.polysyllables                     0  0.000000
metrics.statistics.sentences                         0  0.000000
metrics.statistics.syllables                         0  0.000000
metrics.difficulty.dale chall readability score      0  0.000000
metrics.difficulty.automated readability index       0  0.000000

In [8]:
print(books['bibliography.publication.full'])

0            June, 1998
1        November, 1999
2           March, 1994
3         June 17, 2008
4       August 16, 2005
             ...
1001     March 17, 2016
1002     March 17, 2016
1003     March 17, 2016
1004     March 17, 2016
1005     March 19, 2016
Name: bibliography.publication.full, Length: 1006, dtype: object

In [15]:
books['bibliography.publication.full'] = pd.to_datetime(books['bibliography.publication.full'], errors = 'coerce')
books['month'] = books['bibliography.publication.full'].dt.month
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006 entries, 0 to 1005
Data columns (total 39 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   bibliography.congress classifications            847 non-null    object
 1   bibliography.languages                           1006 non-null   object
 2   bibliography.subjects                            851 non-null    object
 3   bibliography.title                               1006 non-null   object
 4   bibliography.type                                1006 non-null   object
 5   metadata.downloads                               1006 non-null   int64
 6   metadata.id                                      1006 non-null   int64
 7   metadata.rank                                    1006 non-null   int64
 8   metadata.url                                     1006 non-null   object
 9   bibliography.author.birth                        1006 non-null   int64
 10  bibliography.author.death                        1006 non-null   int64
 11  bibliography.author.name                         1006 non-null   object
 12  bibliography.publication.day                     1006 non-null   int64
 13  bibliography.publication.full                    992 non-null    datetime64[ns]
 14  bibliography.publication.month                   1006 non-null   int64
 15  bibliography.publication.month name              1006 non-null   object
 16  bibliography.publication.year                    1006 non-null   int64
 17  metadata.formats.total                           1006 non-null   int64
 18  metadata.formats.types                           1006 non-null   object
 19  metrics.difficulty.automated readability index   1006 non-null   float64
 20  metrics.difficulty.coleman liau index            1006 non-null   float64
 21  metrics.difficulty.dale chall readability score  1006 non-null   float64
 22  metrics.difficulty.difficult words               1006 non-null   int64
 23  metrics.difficulty.flesch kincaid grade          1006 non-null   float64
 24  metrics.difficulty.flesch reading ease           1006 non-null   float64
 25  metrics.difficulty.gunning fog                   1006 non-null   float64
 26  metrics.difficulty.linsear write formula         1006 non-null   float64
 27  metrics.difficulty.smog index                    1006 non-null   float64
 28  metrics.sentiments.polarity                      1006 non-null   float64
 29  metrics.sentiments.subjectivity                  1006 non-null   float64
 30  metrics.statistics.average letter per word       1006 non-null   float64
 31  metrics.statistics.average sentence length       1006 non-null   float64
 32  metrics.statistics.average sentence per word     1006 non-null   float64
 33  metrics.statistics.characters                    1006 non-null   int64
 34  metrics.statistics.polysyllables                 1006 non-null   int64
 35  metrics.statistics.sentences                     1006 non-null   int64
 36  metrics.statistics.syllables                     1006 non-null   float64
 37  metrics.statistics.words                         1006 non-null   int64
 38  month                                            992 non-null    float64
dtypes: datetime64[ns](1), float64(15), int64(14), object(9)
memory usage: 306.6+ KB

<hr />
<p style="border-radius:3px;background-color:steelblue;padding:5px;color:white;">Example 2: Airline Data</p>
<p>Scenario: We&rsquo;re given this dataset ... and so need to get to know this file &amp; the data ... we see Atlanta is often impacted by delays.  We think weather and airline delays are related, so let&rsquo;s explore ... Coming shortly we&rsquo;ll do much more with <code>groupby</code> and aggregate to extract data for testing to see what else we can learn.</p>

In [16]:
#https://corgis-edu.github.io/corgis/csv/airlines/
import pandas as pd
df = pd.read_csv('data/airlines.csv')

# df.to_string() # if we want to see all the header and text data.

#1 head() and tail()
df.head()

,Airport.Code,Airport.Name,Time.Label,Time.Month,Time.Month Name,Time.Year,Statistics.# of Delays.Carrier,Statistics.# of Delays.Late Aircraft,Statistics.# of Delays.National Aviation System,Statistics.# of Delays.Security,...,Statistics.Flights.Delayed,Statistics.Flights.Diverted,Statistics.Flights.On Time,Statistics.Flights.Total,Statistics.Minutes Delayed.Carrier,Statistics.Minutes Delayed.Late Aircraft,Statistics.Minutes Delayed.National Aviation System,Statistics.Minutes Delayed.Security,Statistics.Minutes Delayed.Total,Statistics.Minutes Delayed.Weather
0,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2003/06,6,June,2003,1009,1275,3217,17,...,5843,27,23974,30060,61606,68335,118831,518,268764,19474
1,BOS,"Boston, MA: Logan International",2003/06,6,June,2003,374,495,685,3,...,1623,3,7875,9639,20319,28189,24400,99,77167,4160
2,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",2003/06,6,June,2003,296,477,389,8,...,1245,15,6998,8287,13635,26810,17556,278,64480,6201
3,CLT,"Charlotte, NC: Charlotte Douglas International",2003/06,6,June,2003,300,472,735,2,...,1562,14,7021,8670,14763,23379,23804,127,65865,3792
4,DCA,"Washington, DC: Ronald Reagan Washington National",2003/06,6,June,2003,283,268,487,4,...,1100,18,5321,6513,13775,13712,20999,120,52747,4141

In [62]:
df.tail()

,Airport.Code,Airport.Name,Time.Label,Time.Month,Time.Month Name,Time.Year,Statistics.# of Delays.Carrier,Statistics.# of Delays.Late Aircraft,Statistics.# of Delays.National Aviation System,Statistics.# of Delays.Security,...,Statistics.Flights.Delayed,Statistics.Flights.Diverted,Statistics.Flights.On Time,Statistics.Flights.Total,Statistics.Minutes Delayed.Carrier,Statistics.Minutes Delayed.Late Aircraft,Statistics.Minutes Delayed.National Aviation System,Statistics.Minutes Delayed.Security,Statistics.Minutes Delayed.Total,Statistics.Minutes Delayed.Weather
4403,SAN,"San Diego, CA: San Diego International",2016/01,1,January,2016,280,397,171,2,...,871,18,5030,6016,15482,23023,6021,79,46206,1601
4404,SEA,"Seattle, WA: Seattle/Tacoma International",2016/01,1,January,2016,357,513,351,2,...,1274,31,8330,9739,25461,32693,11466,73,74017,4324
4405,SFO,"San Francisco, CA: San Francisco International",2016/01,1,January,2016,560,947,2194,2,...,3825,20,8912,13206,43641,72557,153416,66,278610,8930
4406,SLC,"Salt Lake City, UT: Salt Lake City International",2016/01,1,January,2016,338,540,253,3,...,1175,14,7426,8699,32066,33682,8057,57,76978,3116
4407,TPA,"Tampa, FL: Tampa International",2016/01,1,January,2016,410,342,312,2,...,1095,7,4748,5996,22557,21164,11423,37,57774,2593

In [63]:
df.info()
# note that the Non-Null Count shows the # of null entries - there are none 'cause
# we have 4408 rows and all show as having data (non-null)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4408 entries, 0 to 4407
Data columns (total 24 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Airport.Code                                         4408 non-null   object
 1   Airport.Name                                         4408 non-null   object
 2   Time.Label                                           4408 non-null   object
 3   Time.Month                                           4408 non-null   int64
 4   Time.Month Name                                      4408 non-null   object
 5   Time.Year                                            4408 non-null   int64
 6   Statistics.# of Delays.Carrier                       4408 non-null   int64
 7   Statistics.# of Delays.Late Aircraft                 4408 non-null   int64
 8   Statistics.# of Delays.National Aviation System      4408 non-null   int64
 9   Statistics.# of Delays.Security                      4408 non-null   int64
 10  Statistics.# of Delays.Weather                       4408 non-null   int64
 11  Statistics.Carriers.Names                            4408 non-null   object
 12  Statistics.Carriers.Total                            4408 non-null   int64
 13  Statistics.Flights.Cancelled                         4408 non-null   int64
 14  Statistics.Flights.Delayed                           4408 non-null   int64
 15  Statistics.Flights.Diverted                          4408 non-null   int64
 16  Statistics.Flights.On Time                           4408 non-null   int64
 17  Statistics.Flights.Total                             4408 non-null   int64
 18  Statistics.Minutes Delayed.Carrier                   4408 non-null   int64
 19  Statistics.Minutes Delayed.Late Aircraft             4408 non-null   int64
 20  Statistics.Minutes Delayed.National Aviation System  4408 non-null   int64
 21  Statistics.Minutes Delayed.Security                  4408 non-null   int64
 22  Statistics.Minutes Delayed.Total                     4408 non-null   int64
 23  Statistics.Minutes Delayed.Weather                   4408 non-null   int64
dtypes: int64(19), object(5)
memory usage: 826.6+ KB

<hr />
<h2 style="background-color: #003262; color:white; border-radius: 4px; padding: 8px;">Check for data having empty cells, data in the wrong format, out-of-range data, duplicates.</h2>
<p>In the following cells, imagine we have an Airline dataset to explore ... working from getting to know the data to asking a few questions of them. We notice a lot of delays in Atlanta, so let's check it out.</p>
<p>We have fundamental ideas about what to do with a dataset for preparing it for exploration &amp; analysis ... but at his point what to look for and how to find it depends on your project. No training wheels... </p>

In [17]:
df.dropna(inplace=True)
df2 = df[["Airport.Code","Time.Label","Time.Month","Time.Year","Statistics.Carriers.Total","Statistics.# of Delays.Carrier", "Statistics.Minutes Delayed.Weather"]] 
df2.head()

,Airport.Code,Time.Label,Time.Month,Time.Year,Statistics.Carriers.Total,Statistics.# of Delays.Carrier,Statistics.Minutes Delayed.Weather
0,ATL,2003/06,6,2003,11,1009,19474
1,BOS,2003/06,6,2003,14,374,4160
2,BWI,2003/06,6,2003,11,296,6201
3,CLT,2003/06,6,2003,11,300,3792
4,DCA,2003/06,6,2003,13,283,4141

In [18]:
# Those column titles are too long ... let's rename them to our purpose. 
df2.columns = ['Airport','Date','Month','Year','Total Flights','Delays','Weather']
df2.head(10)

  Airport     Date  Month  Year  Total Flights  Delays  Weather
0     ATL  2003/06      6  2003             11    1009    19474
1     BOS  2003/06      6  2003             14     374     4160
2     BWI  2003/06      6  2003             11     296     6201
3     CLT  2003/06      6  2003             11     300     3792
4     DCA  2003/06      6  2003             13     283     4141
5     DEN  2003/06      6  2003             13     516     5581
6     DFW  2003/06      6  2003             13     986    20632
7     DTW  2003/06      6  2003             11     376     3529
8     EWR  2003/06      6  2003             13     322     7880
9     FLL  2003/06      6  2003             11     247     2080

In [19]:
# get a sense of what's to be expected - what's the average delay of this data set (over ? years)
print("For the period", df2['Year'].min()," to ", df2['Year'].max())
print("The average national delay in minutes was ", end='')
print(df2['Delays'].mean())

For the period 2003  to  2016
The average national delay in minutes was 574.6324863883848

In [21]:
df2.sort_values(by='Delays', ascending=False)

     Airport     Date  Month  Year  Total Flights  Delays  Weather
1450     ATL  2007/08      8  2007             14    3087    53031
1421     ATL  2007/07      7  2007             14    3082    69683
1073     ATL  2006/07      7  2006             13    2910    33402
1566     ATL  2007/12     12  2007             15    2885    57607
1392     ATL  2007/06      6  2007             14    2774    65694
...      ...      ...    ...   ...            ...     ...      ...
108      PDX  2003/09      9  2003              9     133      463
3037     PDX  2012/02      2  2012             10     132      164
4389     IAD  2016/01      1  2016             10     120      634
2196     PDX  2009/09      9  2009             12     117      748
2254     PDX  2009/11     11  2009             12     112      824

[4408 rows x 7 columns]

In [22]:
df2.loc[df2['Airport'] == 'ATL'], ['Delays']

(     Airport     Date  Month  Year  Total Flights  Delays  Weather
 0        ATL  2003/06      6  2003             11    1009    19474
 29       ATL  2003/07      7  2003             11    1259    29189
 58       ATL  2003/08      8  2003             11    1220    20758
 87       ATL  2003/09      9  2003             11     700     9852
 116      ATL  2003/10     10  2003             11     756     8601
 ...      ...      ...    ...   ...            ...     ...      ...
 4263     ATL  2015/09      9  2015             10     945     5627
 4292     ATL  2015/10     10  2015             10    1021     4122
 4321     ATL  2015/11     11  2015             10    1112     5921
 4350     ATL  2015/12     12  2015              9    1529    19532
 4379     ATL  2016/01      1  2016              9    1163    11815

 [152 rows x 7 columns],
 ['Delays'])

In [26]:
df2.groupby('Airport', as_index=False)['Delays'].mean().sort_values(by='Delays', ascending=False)

# you can achieve the same output with 
# df2.groupby('Airport').Delays.mean()

   Airport       Delays
0      ATL  1465.875000
20     ORD  1108.131579
14     LAX  1006.407895
6      DFW   940.427632
5      DEN   896.743421
23     PHX   750.473684
13     LAS   666.769737
26     SFO   637.361842
11     IAH   599.105263
16     MCO   586.578947
7      DTW   548.980263
19     MSP   530.842105
1      BOS   522.473684
27     SLC   506.460526
25     SEA   506.065789
3      CLT   495.328947
12     JFK   454.980263
24     SAN   426.552632
15     LGA   421.250000
8      EWR   415.296053
2      BWI   402.868421
22     PHL   391.065789
9      FLL   367.750000
4      DCA   365.585526
28     TPA   360.973684
18     MIA   359.868421
10     IAD   354.552632
17     MDW   311.664474
21     PDX   263.907895

In [27]:
#NOTE! there are at least 5 ways to do this same output ... 
def minToHours(t):
    return t/60 % 60

ATL_Delays  = df2[df2['Airport']=='ATL']['Delays'].mean()
ATL_Delays

print(minToHours(ATL_Delays))

24.43125

In [28]:
df2.sort_values(by = ['Airport','Weather']).groupby('Airport')
df2

     Airport     Date  Month  Year  Total Flights  Delays  Weather
0        ATL  2003/06      6  2003             11    1009    19474
1        BOS  2003/06      6  2003             14     374     4160
2        BWI  2003/06      6  2003             11     296     6201
3        CLT  2003/06      6  2003             11     300     3792
4        DCA  2003/06      6  2003             13     283     4141
...      ...      ...    ...   ...            ...     ...      ...
4403     SAN  2016/01      1  2016             11     280     1601
4404     SEA  2016/01      1  2016             10     357     4324
4405     SFO  2016/01      1  2016             10     560     8930
4406     SLC  2016/01      1  2016              8     338     3116
4407     TPA  2016/01      1  2016              8     410     2593

[4408 rows x 7 columns]

In [29]:
# is there a relationship between weather and delays?
df3 = df2[['Weather','Delays']]
df3.corr()

# .7 is a pretty strong positive relationship!  
# (leaves us about .3 of the error to explain)

          Weather    Delays
Weather  1.000000  0.708586
Delays   0.708586  1.000000

In [30]:
#display(df2.query('Airport = ATL & Year >= 2016,values'))
display(df2[(df2['Airport'] == "ATL") & (df2['Year'] == 2016)][['Airport','Year', 'Total Flights','Delays']])

     Airport  Year  Total Flights  Delays
4379     ATL  2016              9    1163

<hr />
<h2 style="background-color: #003262; color:white; border-radius: 4px; padding: 8px;">
    <p>End of code exploration of EDA.</p>
</h2>
<ol>
    <li><a href="w11_encoding.ipynb" target="new">
            Encoding &amp; Display of Data Glyphs</a>
    </li>
    <li><a href="w11_examples.ipynb" target="new">
        Real-World Examples: MySQL &amp; Python, Encoding Issues, Vector Model and 3D Plot; Vector Model &amp; NLTK + plots; Bit Signature</a></li>
    </ol>

<p>As of Mar 13, 2022 - GB; Updated March 20, 2023 GB</p>